<!-- frontend/templates/residente/bienvenida.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido Residente</title>
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="bg-blue-50 flex items-center justify-center h-screen">
    <div class="text-center bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold text-blue-700">¡Bienvenido Residente !</h1>
        <p class="mt-4 text-gray-600">Esta es tu área de usuario residente.</p>
    </div>
</body>
</html>
