<!-- solicitudes.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Solicitudes - Administrador</title>
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
   <div class="flex flex-row h-screen">
  <!-- Sidebar debe tener altura completa -->
  {% include 'admin/sidebar.html' %}

  <!-- Contenido principal -->
    <div class=" flex-1 w-full h-full ">
       <div class=" bg-white grid grid-cols-2 justify-between w-full h-16 rounded-b-xl px-8 ">
                <div class="text-blue-900 font-medium text-2xl flex justify-start items-center">
                   
                </div>
                <div class="flex flex-row justify-end items-center">
                    <img class="h-auto w-10 hover:bg-slate-200 hover:rounded-full p-2" src="../../static/icons/icon-blue-1.svg" alt="">
                    <div class="flex flex-row items-center">
                        <img class="h-auto w-11 hover:bg-slate-200 hover:rounded-full p-2" src="../../static/icons/icon-blue-2.svg" alt="">
                        <span id="nombreUsuarioHeader" class="text-lg text-gray-600"></span>
                        <span id="tipoUsuarioHeader" class="text-lg text-gray-600"></span>
                    </div>
                </div>
            </div>
      <div class="flex-1 p-8 ml-40 h-full overflow-y-auto">
        <div class="flex items-center justify-between mb-8 bg-white px-8 py-4 rounded-xl shadow-lg ">
            <div class="text-blue-900 font-medium text-2xl flex justify-start items-center">
                <span>Solicitudes de Lavandería</span>
            </div>
        </div>
    
        <table class="w-full text-left  bg-white rounded shadow">
          <thead class="bg-blue-900 text-white">
            <tr>
              <th class="p-3">ID</th>
              <th class="p-3">ID Usuario</th>
              <th class="p-3">Nombre</th>
              <th class="p-3">Fecha</th>
              <th class="p-3">Estado</th>
              <th class="p-3">Acción</th>
            </tr>
          </thead>
          <tbody id="tablaSolicitudes" class="text-gray-700">
            <!-- JS insertará las filas aquí -->
          </tbody>
        </table>
      </div>
    </div>
   </div>



    <script src="../../static/js/admin/solicitudes.js"></script>
</body>
</html>
