<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/output.css" rel="stylesheet" />
    <title>Formulario de Registro</title>
</head>
<body>

<h2>Registro de Usuario</h2>
<form id="registroForm">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" placeholder="Nombre Completo" required><br><br>

    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo" placeholder="Correo" required><br><br>

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required><br><br>

    <label for="tipo_usuario">Tipo de Usuario:</label>
    <input type="text" id="tipo_usuario" name="tipo_usuario" placeholder="Ej: Estudiante" required><br><br>

    <button type="submit">Registrar</button>
</form>

<script src="/static/js/registro.js"></script>

</body>
</html>
